<!-- 
  File: projects.ejs
  Student Name: Amanda Nunes Sardella
  Student ID: #301288044
  COMP229 - SEC001 - SUMMER 2023 - CENNTENIAL COLLEGE
  June 9th, 2023
-->
<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        padding-bottom: 70%;
      }
      #images {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
      }
      img {
        border-radius: 25px;
      }
      table {
        margin-right: 20px;
        text-align: center;
      }
      #gameTitle {
        font-weight: bold;
      }
      #project1 {
        float: left;
        padding: 10px;
        width: 30%;
      }
      #project2 {
        float: left;
        padding: 10px;
        width: 35%;
      }
      #project3 {
        float: left;
        padding: 10px;
        width: 30%;
      }
      #descriptionBox {
        text-align: justify;
      }

      #descriptionBox2 {
        padding-left: auto;
      }

      h2 {
        text-align: center;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <main class="container">
    <div class="jumbotron">
      <!--<h1 class="display-4">Welcome to <%= title %> page</h1>-->
    </div>
    <body>
      <h2><%= title %></h2>
      <p></p>
      <div>
        <div>
          <table table style="display: inline-table" id="project1">
            <tr>
              <th style="width: 300px; height: 30px">
                <i class="fa-solid fa-folder" style="color: #000000"></i>
                Project 1
              </th>
            </tr>
            <tr>
              <td id="gameTitle">BooSmasher (Game)</td>
            </tr>
            <tr>
              <td>
                <img src="/img/booSmasher.png" width="300" id="images" />
              </td>
            </tr>
            <tr>
              <td id="descriptionBox">
                The bug hops randomly around the game area at a given interval.
                The player tries to catch the bug by clicking on it. If they
                succeed, the score is incremented, and the hopping interval is
                decremented by a number of milliseconds, so it gets harder to
                catch the bug. If the game becomes too challenging, the player
                can reset the speed to the initial hopping interval by clicking
                the Reset Speed button. If the player wants, they can start
                again by resetting the score by clicking the Reset Score button.
              </td>
            </tr>
            <tr>
              <td>Game created using JavaScript.</td>
            </tr>
            <tr>
              <td>
                <i class="fa-solid fa-code" style="color: #000000"></i> Access
                the code
                <a
                  href="https://github.com/amandasardella/COMP125_Assignment3_BooSmasher"
                  ><b>here</b></a
                >.
              </td>
            </tr>
          </table>

          <table id="project2">
            <tr>
              <th style="width: 300px; height: 30px">
                <i class="fa-solid fa-folder" style="color: #000000"></i>
                Project 2
              </th>
            </tr>
            <tr>
              <td id="gameTitle">Portfolio</td>
            </tr>
            <tr>
              <td>
                <img src="/img/portfolio.png" width="300" id="images" />
              </td>
            </tr>
            <tr>
              <td id="descriptionBox2">My first portfolio.</td>
            </tr>
            <tr>
              <td>Portfolio created using EJS, JavaScript, CSS.</td>
            </tr>
            <tr>
              <td>
                <i class="fa-solid fa-code" style="color: #000000"></i> Access
                the code
                <a
                  href="https://github.com/amandasardella/Assignment1COMP229SEC001"
                  ><b>here</b></a
                >.
              </td>
            </tr>
          </table>

          <table id="project3">
            <tr>
              <th style="width: 300px; height: 30px">
                <i class="fa-solid fa-folder" style="color: #000000"></i>
                Project 3
              </th>
            </tr>
            <tr>
              <td id="gameTitle">Currently working on Project #3.</td>
            </tr>
            <tr>
              <td>
                <img src="/img/project3.png" width="300" id="images" />
              </td>
            </tr>
            <tr>
              <td id="descriptionBox2">Soon.</td>
            </tr>
            <tr>
              <td>Soon.</td>
            </tr>
            <tr>
              <td>
                <i class="fa-solid fa-code" style="color: #000000"></i> No code
                yet.
              </td>
            </tr>
          </table>

          <!--bottom nav-->

          <!--script section-->
          <%- include ('partials/bottom_nav.ejs') %> <%- include
          ('partials/footer.ejs') %>
        </div>
      </div>
    </body>
  </main>
</html>
